<nav class="navbar navbar-light fixed-bottom border-top">
  <div class="container d-flex justify-content-around">
    <a
      href="index.html"
      class="text-center text-secondary text-decoration-none"
    >
      <i class="fa-solid fa-list"></i><br />
      <small>ToDoList</small>
    </a>
    <a
      href="habit-tracker.html"
      class="text-center text-secondary text-decoration-none"
    >
      <i class="fa-solid fa-bullseye"></i><br />
      <small>Habit Tracker</small>
    </a>
    <a href="#" class="text-center text-secondary text-decoration-none">
      <i class="fa-solid fa-clipboard"></i><br />
      <small>Notes</small>
    </a>
    <a href="#" class="text-center text-secondary text-decoration-none">
      <i class="fa-solid fa-gear"></i><br />
      <small>Settings</small>
    </a>
  </div>
</nav>
